<div class="cart">
  @if(cartGameItems.length > 0) {
    <div class="cart-header">
      <div class="cart-item-details">
        <p class="item-details-text">{{ 'cart.itemsInCart' | translate:{ number: cartGameItems.length } |uppercase }}</p>
        <p class="item-details-text">{{ totalPrice | currency }}</p>
      </div>
      <app-button (buttonClick)="gameStore.clearStore()"/>
    </div>
    <app-separator/>
    @for(game of cartGameItems; track game.id) {
      <app-cart-item [cartItem]="game"/>
      @if(!$last){
        <app-separator/>
      }
    }
  }
  @if(cartGameItems.length === 0){
    <div class="cart-empty-container">
      <img ngSrc="assets/cart-icon.svg" alt="Cart Icon" width="40" height="40" />
      <p class="cart-empty">{{ 'cart.cartEmpty' | translate }}</p>
    </div>
  }
</div>
