@use '../../../styles' as *;

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  flex: 1;
  align-self: stretch;
  border: 1px solid gray;
}

.search-input input {
  box-sizing: border-box;
  width: 100%;
}

