@use "../../../styles" as *;

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  background: linear-gradient(180deg, #FFFFFF 0%, #DEDEDE 50%);
  padding: 0 $page-cut;
}

@media (max-width: $breakpoint-small-desktop) {
  .app-header {
    padding: 0 16px;
  }
}
