@use "../../../styles" as *;

.home-container {
  margin: 0 $page-cut;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.search-input {
  width: 300px;
}

@media (max-width: $breakpoint-small-desktop) {
  .home-container {
    margin: 0 16px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .search-container {
    display: block;
  }
  .search-input {
    width: auto;
  }
}

@media (max-width: $breakpoint-small-mobile) {
  .game-list {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
