<section class="home-container">
 <app-game-of-the-week/>
  <div class="search-container">
    <div class="search-input">
      <app-search-input placeholder="{{'home.searchGames' | translate}}" [control]="searchedGame"/>
    </div>
  </div>
  @if(!isLoading) {
    <div class="game-list">
      @for(game of filteredGameItems; track game.id) {
        <app-game-item [gameItem]="game"/>
      }
    </div>
  }
  @if(isLoading) {
    <app-loader />
  }
  @if (error) {
    <app-error-message [errorMessage]="'general.somethingWentWrong' | translate" />
  }
</section>
